@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/navigation";

@theme {
  --color-primary-blue: #3a6ef2;
  --color-primary-gray: #c3c3c3;
  --color-pink1: #b401aa;
  --color-backgroundColor: "#230832";
}
